{
    "development": {
        "PORT": 3100,
        "MONGODB_URI": "",
        "SLACK_ERROR_CHANNEL": "",
        "host": "http://localhost:3100",
        "BRAINTREE": {
            "environment": "",
            "merchantId": "",
            "publicKey": "",
            "privateKey": ""
        }
    },
    "production": {
        "PORT": 3000,
        "MONGODB_URI": "",
        "SLACK_ERROR_CHANNEL": "",
        "host": "http://localhost:3000",
        "BRAINTREE": {
            "environment": "",
            "merchantId": "",
            "publicKey": "",
            "privateKey": ""
        }
    }
}